<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wetransfer/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /wetransfer/index.html [L]
</IfModule>